PORT=3000
QB_URL=http://qbittorrent:8080
QB_USERNAME=admin
QB_PASSWORD=adminadmin
BASE_MALAYALAM=/mnt/media/malayalam
BASE_ENGLISH=/mnt/media/english
BASE_TAMIL=/mnt/media/tamil
BASE_HINDI=/mnt/media/hindi
DB_PATH=/app/data/app.db
POLL_INTERVAL_MS=15000
TZ=Australia/Melbourne
PUID=1000
PGID=1000

